body {
    background-color: pink;
    text-align: center;
}
.content {
    width: 500px;
    background-color: #ffffff;
    color: #000000;
    margin: auto;
    padding: 25px 50px;
    border: thin solid black;
}