body {
    background-color: pink;
}
.content {
    background-color: #323232;
    color: #ffffff;
    width: 750px;
    margin: auto;
    padding: 25px 50px;
    border: thin solid black;
    text-align: center;
}